BADGE_CONFIG_URL=https://gitlab.com/validata-table/validata-badge/raw/master/badge_conf.toml
LOG_LEVEL=INFO
MATOMO_BASE_URL=https://analytics.validata.fr
MATOMO_SITE_ID=2
SCRIPT_NAME={{ validata_api_base_path }}
