version: "3"

services:
  reverse-proxy:
    image: traefik:1.7
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ validata_docker_compose_stack_dir }}/traefik.toml:/traefik.toml"
      - "{{ validata_docker_compose_stack_dir }}/acme.json:/acme.json"

  api:
    image: gitlab.com:4567/validata-table/validata-api:v0.2.0
    restart: always
    env_file:
      - ./api.env
      - ./api.secrets.env
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:{{ validata_hostname }};PathPrefix:{{ validata_api_base_path }}"

  ui:
    image: gitlab.com:4567/validata-table/validata-ui:v0.2.0
    restart: always
    links:
      - api
    depends_on:
      - api
    env_file:
      - ./ui.env
      - ./ui.secrets.env
    # volumes:
    #   - "./homepage_config.json:/home/validata/homepage_config.json:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:{{ validata_hostname }}"
