[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ docker_compose_stacks_dir }}/%i
ExecStart={{ docker_compose }} up
ExecStop={{ docker_compose }} down -v

[Install]
WantedBy=multi-user.target



