API_VALIDATE_ENDPOINT=http://api:5000{{ validata_api_base_path }}/validate
HOMEPAGE_CONFIG_FILE=homepage_config.json.example
LOG_LEVEL=INFO
MATOMO_BASE_URL=https://analytics.validata.fr
MATOMO_SITE_ID=1
SHIELDS_IO_BASE_URL=https://img.shields.io/
